@model dynamic
@{
    @* Explicitly define data passed from model, to enable intellisense *@
    Category category = Model.Category;
    IOrderedQueryable<Book>? books = Model.Books;

    ViewData["Title"] = $"{category.Name}";
    TempData.Keep("lastpage");

    @* Define currentpage, for last page system *@
    string currentpage = $"CategoryIndex_{category.CategoryId}";
}

<div class="container p-3">
    <div class="row pt-4">
        @* Header *@
        <div class="col-6">
            <h1 class="text-primary">@category.Name</h1>
        </div> 
            <div class="col-6 text-end">
                @* Back button *@
                <a asp-controller="LastPage" asp-action="Return" asp-route-currentpage="@currentpage"
                    class="btn btn-secondary">Back</a>
                @* Edit and delete button for librarians *@
                @if(User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Category" asp-action="Edit"          asp-route-id="@category.CategoryId" class="btn btn-primary"> <i
                            class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger"> <i
                            class="bi bi-trash-fill"></i>&nbsp;&nbsp;Delete</a>
                } 
        </div>
    </div>
    <p><em>@category.Description</em></p>

    @* Table with category information *@
    <table style="width:100%" class="table table-bordered table-striped">
        @* ID *@
        <tr>
            <th class="text-primary text-end" width="15%" >ID</th>
            <td>@category.CategoryId</td>
        </tr>
        @* Updated at properly formatted as a string *@
        <tr>
            <th class="text-end">Updated at</th>
            <td>@{
                    DateTime date = category.UpdatedAt;
                    @date.ToLongTimeString()
                        <text>&nbsp;on&nbsp;</text>

                    @date.ToLongDateString()
                    ;
                }</td>
        </tr>
    </table>
    <br/>
    <br/>

    @* Table with books for category *@
    @* if there are no books in the category display this *@
    @{
        if(books.Count() == 0)
        {
            <em>
            <h3>There are currently no books in this category</h3>
            </em><br/>
            @* Else display the information using the partial view for books *@
        } else {
            <h2>Books</h2>
        ViewBag.Buttons = false;
        <partial name="../Book/_BookTable.cshtml" for="@books"></partial>
        }    
    }
</div>