@model IQueryable<Book>?
@{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Publisher</th>
                @if (ViewBag.Buttons != false)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (Book book in Model)
            {
                i++;
                <tr class="text-center align-middle">
                    <td width="5%">@i</td>
                    <td width="30%">
                        <a asp-controller="Book" asp-action="Index" asp-route-id="@book.BookId">@book.Name</a>
                    </td>
                    <td width="20%">
                        <a asp-controller="Author" asp-action="Index" asp-route-id="@book.AuthorId">@book.Author.Name</a>
                    </td>
                    <td width="25%">
                        <a asp-controller="Publisher" asp-action="Index"
                    asp-route-id="@book.PublisherId">@book.Publisher.Name</a>
                    </td>
                    @if (ViewBag.Buttons != false)
                    {
                        <td>
                            <div class="btn-group text" role="group">
                                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</a> <a asp-controller="Book" asp-action="Delete"
                        asp-route-id="@book.BookId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>&nbsp;&nbsp;Delete</a>

                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
}