@model Book
@{
    ViewData["Title"] = "Edit book";
    TempData.Keep("lastpage");
    SelectList categoryList = ViewBag.CategoryList;
    SelectList authorList = ViewBag.AuthorList;
    SelectList publisherList = ViewBag.PublisherList;
    string currentPage = $"EditBook_{@Model.Id}";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="pb-2 row">
            <h2>Create Book</h2>
            <br />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            &nbsp;|&nbsp;
            <em><a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.CategoryId" id="editcategory">Edit
                    selected category</a></em>
            &nbsp;|&nbsp;
            <em><a asp-controller="Category" asp-action="Create">Create new category</a></em>
            @Html.DropDownListFor(m=> m.CategoryId, categoryList, htmlAttributes: new { @class =
            "form-control", @onChange="changeDropdown(this, 'editcategory', 'Category')" })
        </div>
        <div class="mb-3">
            <label asp-for="AuthorId"></label>
            &nbsp;|&nbsp;
            <em><a asp-controller="Author" asp-action="Edit" asp-route-id="@Model.AuthorId" id="editauthor">Edit
                    selected author</a></em>
            &nbsp;|&nbsp;
            <em><a asp-controller="Author" asp-action="Create">Create new author</a></em>
            @Html.DropDownListFor(m=> m.AuthorId, authorList, htmlAttributes: new {
            @class = "form-control", @onChange="changeDropdown(this, 'editauthor', 'Author')" })
        </div>
        <div class="mb-3">
            <label asp-for="PublisherId"></label>
            &nbsp;|&nbsp;
            <em><a asp-controller="Publisher" asp-action="Edit" asp-route-id="@Model.PublisherId"
                    id="editpublisher">Edit
                    selected publisher</a></em>
            &nbsp;|&nbsp;
            <em><a asp-controller="Publisher" asp-action="Create">Create new publisher</a></em>
            @Html.DropDownListFor(m=> m.PublisherId, publisherList, htmlAttributes: new {
            @class = "form-control", @onChange="changeDropdown(this, 'editpublisher', 'Publisher')" })
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input value="This is a description" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
        <a asp-controller="LastPage" asp-action="Cancel" asp-route-currentpage="@currentPage"
            asp-route-message="Book not edited" class="btn btn-secondary" style="width:150px">Back</a>
    </div>


</form>



@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function changeDropdown(list, element, controller) {
        const setvalue = list.value;
        $(`#${element}`).attr("href", "/" + controller + "/Edit/" + setvalue)

    }
</script>
}