@model dynamic
@{
    @* Explicitly define data passed form model, to enable intellisense *@
    Publisher publisher = Model.Publisher;
    IOrderedQueryable<Book>? books = Model.Books;
    ViewData["Title"] = $"{publisher.Name}";
    TempData.Keep("lastpage");

    @* Define currentpage, for lastpage system *@
    string currentpage = $"PublisherIndex_{publisher.PublisherId}";
}

<div class="container p-3">
    <div class="row pt-4">
        @* Header *@
        <div class="col-6">
            <h1 class="text-primary">@publisher.Name</h1>
        </div>
        <div class="col-6 text-end">
            @* Back button *@
            <a asp-controller="LastPage" asp-action="Return" asp-route-currentpage="@currentpage"
                class="btn btn-secondary">Back</a>
            @* Edit and delete button for librarians *@
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Publisher" asp-action="Edit" asp-route-id="@publisher.PublisherId"
                class="btn btn-primary"> <i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</a>
                <a asp-controller="Publisher" asp-action="Delete" asp-route-id="@publisher.PublisherId"
                class="btn btn-danger"> <i class="bi bi-trash-fill"></i>&nbsp;&nbsp;Delete</a>
            }
        </div>
    </div>

    @* Table with publisher information *@
    <table class="table table-bordered table-striped" style="width:100%">
        <tr>
            <th class="text-end">Updated at</th>
            <td>@{
                    @publisher.UpdatedAt.ToLongTimeString()
                    <text>&nbsp;on&nbsp;</text>

                    @publisher.UpdatedAt.ToLongDateString()
                    ;
                }
            </td>
        </tr>
    </table>
    <br />
    <br />
    @{
        if (books.Count() == 0)
        {
            <em>
                <h3>This publisher has no books</h3>
            </em>

            <br />
        }
        else
        {
            <h2>Books</h2>
            ViewBag.Buttons = false;
            <partial name="../Book/_BookTable.cshtml" for="@books"></partial>
        }
    }
</div>